<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Atrakcje</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<body>

<div align="center">
  <h1>Lista Atrakcji</h1>
  <a href="/nowa-atrakcja">Wprowadz nowa atrakcje</a>
  <table border="1" cellpadding="10">
    <!-- Table header -->
    <thead>
    <tr> <!-- Table row -->
      <th>ID</th>
      <th>Nazwa atrakcji</th>
      <th>Cena</th>
      <th>Stan</th>
    </tr>
    </thead>

    <!-- Table body -->
    <tbody>
    <tr th:each="atrakcja : ${listaAtrakcji}">
      <td th:text="${atrakcja.id_atrakcji}">Id</td>
      <td th:text="${atrakcja.nazwa_atrakcji}">Atrakcja</td>
      <td th:text="${atrakcja.cena_atrakcji}">Cena</td>
      <td th:text="${atrakcja.stan_atrakcji}">Stan</td>

      <td>
        <a th:href="@{'/edytuj-atrakcje/' + ${atrakcja.id_atrakcji}}">Edit</a>
        <a th:href="@{'/usun-atrakcje/' + ${atrakcja.id_atrakcji}}">Delete</a>
      </td>

    </tr>
    </tbody>
  </table>
</div>

</body>
</html>