<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Atrakcje</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<body>

<div align="center">
    <h1>Lista Atrakcji</h1>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Atrakcja</th>
            <th>Cena</th>
            <th>Minimalny wzrost</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="atrakcja : ${listaAtrakcji}">
            <td th:text="${atrakcja.id_atrakcji}"></td>
            <td th:text="${atrakcja.nazwa_atrakcji}"></td>
            <td th:text="${atrakcja.cena_atrakcji}"></td>
            <td th:text="${atrakcja.minimalny_wzrost}"></td>
            <td>
                <form id="dataform" th:action="@{'/zapisz-transakcje/' + ${atrakcja.id_atrakcji}}" th:object="${atrakcja}" method="post">
                    <button class="btn btn-primary" id="submitbutton" type="submit">Zapisz</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>